/* 


Challenge:
center the elements.
It must have block and width.

*/

body {
    background: rgb(45, 55, 65);
    color: rgb(190, 157, 64);
    margin: 0px;
}

.main {
    margin-top: 100px;
}

.google-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.searchbar {
    display: block;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
